.cfprop-filter {
	display: flex;
	gap: 0;
	flex-direction: column;
	max-width: 1200px !important;
	fieldset {
		border: 0;
		padding: 0;
		flex: 1 1 auto;
	}
	label {
		font-weight: bold;
		display: inline-block;
		padding-bottom: .4em;
	}
	input, select {
		width: 100%;
	}
}

@media (min-width: 767px) {
	.cfprop-filter {
		gap: 20px;
		&.cfprop-filter-row {
			flex-direction: row;
			align-items: last baseline;
		}
	}
}
