.propstack-connector-filter {
	display: flex;
	gap: 0;
	flex-direction: column;
	fieldset {
		border: 0;
		padding-left: 0;
		padding-right: 0;
		flex: 1 1 auto;
	}
	label {
		font-weight: bold;
		display: inline-block;
		padding-bottom: .4em;
	}
	input, select {
		width: 100%;
	}
}

@media (min-width: 767px) {
	.propstack-connector-filter {
		gap: 20px;
		&.propstack-connector-filter-row {
			flex-direction: row;
			align-items: last baseline;
		}
	}
}
