:root {
	--propstack-connector-pro-bg: yellow;
	--propstack-connector-pro-font: #000;
	--propstack-connector-hint-bg: #c45602;
	--propstack-connector-hint-font: #fff;
	--propstack-connector-pro-hint-bg: #fca15b;
	--propstack-connector-pro-hint-font: #000;
}

.post-type-cfprop_object .postbox {
	code {
		display: block;
		height: 120px;
		overflow-y: scroll;
		max-width: 500px;
	}
	fieldset {
		display: flex;
		margin: 0 0 1em;
		label {
			display: inline-block;
			font-weight: bold;
			min-width: 240px;
		}
		div > * {
			margin: 0;
		}
		&.hidden-in-frontend {
			opacity: .6;
		}
	}
	.gallery {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		gap: 20px;
		justify-content: normal;
	}
	.propstack-connector-disabled {
		opacity: .6;
	}
}

#cfprop_object-propstack {
	background-color: var(--propstack-connector-pro-hint-bg);
	h2, .handle-actions * {
		color: var(--propstack-connector-pro-hint-font);
	}
}

body.settings_page_connector-for-propstack {
	.form-table td th, .form-table td td {
		padding: .4em;
		vertical-align: top;
	}
	.form-table td table {
		margin-top: 1em;
		width: 100%;
	}
	.form-table td tbody {
		tr:first-child, tr:nth-child(2n+3) { background-color: #c3c4c7; }
	}
	#options {
		width: 160px;
	}
	#state {
		width: 60px;
	}
	#date {
		width: 120px;
	}
	#category {
		width: 180px;
	}
}

.propstack_connector_fields_all table { width: 100% }

.propstack-lightbox img {
	width: 100%;
}

.taxonomy-cfprop_object_status, .taxonomy-cfprop_object_property_type, .taxonomy-cfprop_object_type, .taxonomy-cfprop_object_marketing_type, .taxonomy-cfprop_object_category, .taxonomy-cfprop_object_broker {
	#col-left, #cb, .check-column {
		display: none
	}
	#col-right {
		float: none;
		width: 100%;
	}
	#propstack-connector-thumbnail {
		width: 150px;
	}
}

.easy-dialog.propstack-connector-dialog {
	&:has(progress) {
		width: 60%;
		min-width: 800px;
	}
	h1:before {
		background-image: url(../gfx/propstack_menu_logo.png);
		background-size: contain;
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		vertical-align: middle;
		position: relative;
		top: -3px;
		z-index: 10;
	}
}

.nav-tab-help {
	background-color: var(--propstack-connector-pro-hint-bg);
	float: right;
	line-height: 1.6;
	margin-right: 4px;
	position: relative;
	bottom: -1px;
	z-index: 1;
}

body.post-type-cfprop_object a:not(.review-hint-button)[target="_blank"]:after {
	content: "\f504";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	font-size: .9em;
	margin-left: 4px;
	vertical-align: middle;
}

body.post-type-cfprop_object .nav-tab a[target="_blank"]:after, body.post-type-cfprop_object a.nav-tab[target="_blank"]:after {
	font-size: 1.2em;
	margin-top: -7px;
}

body.post-type-cfprop_object, body.settings_page_propstack-connector {
	a.review-hint-button:after {
		color: #d4af37;
		content: "\f155 \f155 \f155 \f155 \f155";
		display: inline-block;
		font-family: "dashicons", sans-serif;
		margin-left: 8px;
	}
	a:not(.review-hint-button)[target="_blank"]:after {
		content: "\f504";
		display: inline-block;
		font-family: "dashicons", sans-serif;
		font-size: .9em;
		margin-left: 4px;
		vertical-align: middle;
	}
}

.propstack-connector-pro-hint {
	background-color: var(--propstack-connector-pro-hint-bg);
	color: var(--propstack-connector-pro-hint-font);
	padding: 4px 8px;
}

body.post-type-cfprop_object {
	.copied {
		position: relative;
		z-index: 1;
	}
	.copied:after {
		animation: 2s fadeOut;
		animation-fill-mode: forwards;
		color: green;
		content: attr(data-copied-label);
		display: inline-block;
		margin-left: 2px;
		position: absolute;
		top: -2px;
		right: 0;
		z-index: 2;
	}
}

.propstack-connector-knowledge-entry {
	background-color: #eee;
	padding: 12px;
}
