<!-- wp:template-part {"slug":"header","theme":"twentytwentyfive","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Hero"},"className":"cfprop-hero","layout":{"type":"default"}} -->
    <div class="wp-block-group cfprop-hero"><!-- wp:post-featured-image {"height":"300px"} /-->

        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group"><!-- wp:post-terms {"term":"cfprop_object_type","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /-->

            <!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /--></div>
        <!-- /wp:group --></div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Marketing Type"},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:post-terms {"term":"cfprop_object_marketing_type","className":"is-style-post-terms-1","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":{"topLeft":"7px","topRight":"7px","bottomLeft":"7px","bottomRight":"7px"}},"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"typography":{"textTransform":"uppercase"}},"backgroundColor":"contrast","textColor":"base"} /--></div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Key Facts"},"style":{"color":{"background":"#fafafa"},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group has-background" style="background-color:#fafafa;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:connector-for-propstack/field {"blockId":"b118be74-14c7-4188-9ca7-ba8bc6da49b3","field_name":"price_vat","fontSize":"large"} /-->

            <!-- wp:connector-for-propstack/field {"blockId":"186f6eba-7fd4-413f-a70d-01658f31432d","field_name":"price_per_sqm","fontSize":"medium"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:connector-for-propstack/field {"blockId":"c5bfe441-953a-41d5-a312-098007a893e7","field_name":"city","fontSize":"large"} /-->

            <!-- wp:connector-for-propstack/field {"blockId":"3328741a-1cd9-443d-861e-a40522d3c5bd","field_name":"short_address","fontSize":"medium"} /--></div>
        <!-- /wp:group --></div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Property Details"},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Nutzfläche:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"e918cf62-78e4-4b20-a0e5-b64e4067ce71","field_name":"net_floor_space"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Wohnfläche:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"d41bd575-295f-49c5-aeef-9001546166ca","field_name":"living_space"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Flur:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"4d14c769-71d6-4372-b2b9-4690f38835dd","field_name":"corridor"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Etagenlage:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"b29068dd-58e2-44a5-9eb1-9bfafeccf111","field_name":"floor"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Gartenfläche:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"43c7e48d-599a-4243-9db5-0abbb5f86f4d","field_name":"garden_space"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Gesamtfläche:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"1beb92fd-69a6-4a8d-9032-6af5a31ddcb7","field_name":"total_floor_space"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Verfügbar ab:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"0e439bc2-49e9-4d8f-b924-3d598f66b2b3","field_name":"free_from"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Anzahl Wohnungen:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"92625a5f-05d1-40e3-902a-82b177c47a4c","field_name":"number_of_apartments"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Anzahl Balkone:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"b58eb7dc-290a-427c-b26c-16f59eb52817","field_name":"number_of_balconies"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Anzahl Bäder:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"765b5f2d-7a19-47a1-8d8d-d55196c2d9fa","field_name":"number_of_bath_rooms"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Anzahl Schlafzimmer:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"2d517ef8-b4d7-46af-8102-1191a3634803","field_name":"number_of_bed_rooms"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Anzahl Räume:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"9feaf7a3-0741-4fa6-aa59-fe2842ccf350","field_name":"number_of_rooms"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Grundstücksfläche:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"85e9b48f-769f-4c7e-ae2f-0b31fb4d4ea5","field_name":"plot_area"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Anzahl der Betten:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"fbef3ac7-fad8-4fd9-8ded-ab810772fba7","field_name":"number_beds"} /--></div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
            <p>Max. Anzahl Personen:</p>
            <!-- /wp:paragraph -->

            <!-- wp:connector-for-propstack/field {"blockId":"94ee085c-2337-4aa8-b75c-81ca0054fd8b","field_name":"max_number_of_persons"} /--></div>
        <!-- /wp:group --></div>
    <!-- /wp:group -->

    <!-- wp:columns {"metadata":{"name":"Object data"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"metadata":{"name":"Descriptions"},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group"><!-- wp:heading -->
                <h2 class="wp-block-heading">Beschreibung</h2>
                <!-- /wp:heading -->

                <!-- wp:connector-for-propstack/field {"blockId":"c7a20ae9-0a33-41dd-b4fd-03b70efae4de","field_name":"description_note"} /-->

                <!-- wp:connector-for-propstack/field {"blockId":"12c3b3af-bddc-41e2-8829-de886bbdfba7","field_name":"furnishing_note"} /-->

                <!-- wp:connector-for-propstack/field {"blockId":"930fc854-8765-44d0-b40d-d512c31bbf64","field_name":"other_note"} /--></div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"Costs"},"style":{"color":{"background":"#fafafa"},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
            <div class="wp-block-group has-background" style="background-color:#fafafa;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
                <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Gesamtmiete:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"679b5af1-c059-4620-923f-1f19517fa6cd","field_name":"total_rent"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Nicht umlegbare Kosten:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"130770a7-3c22-42f8-95f3-30050ac4ab40","field_name":"cost_other"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Hausgeld:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"834aaf38-ed63-4a81-a4c0-3cf5df107db7","field_name":"rent_subsidy"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Instandhaltungsrücklage:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"5779c5e9-a16b-4998-9a40-b388ceba9e93","field_name":"maintenance_reserve"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Kaution:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"75f4007f-71af-46bb-a66d-5345fb31a716","field_name":"deposit"} /--></div>
                    <!-- /wp:group --></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
                <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Kaltmiete:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"5cfe1056-f856-4a59-b558-56a382403ff1","field_name":"base_rent_net"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Heizkosten:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"523e6a76-2e66-4746-a2c0-20ce4137c318","field_name":"heating_costs"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Nebenkosten:</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"ed91f921-363b-43ab-a793-24956737db64","field_name":"service_charge"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Stellplatzpreis</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"0817cb46-f1d9-470a-926f-5aabfdd90310","field_name":"parking_space_price"} /--></div>
                    <!-- /wp:group --></div>
                <!-- /wp:group --></div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"Location"},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group"><!-- wp:heading -->
                <h2 class="wp-block-heading">Lage</h2>
                <!-- /wp:heading -->

                <!-- wp:connector-for-propstack/field {"blockId":"8e325d05-bb3f-468e-a059-140abcb38012","field_name":"location_note"} /--></div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"Features"},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group"><!-- wp:heading -->
                <h2 class="wp-block-heading">Merkmale</h2>
                <!-- /wp:heading -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
                <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Denkmal</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"c4c123c6-2dea-44e9-a812-a425976f4bbf","field_name":"monument"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Vermietet</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"53c8670a-c8be-48a6-8cf8-62a5c40f52d7","field_name":"rented"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Barrierefrei</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"e0f74f49-ebfe-4cd5-b629-33a9de0e35b6","field_name":"barrier_free"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Keller</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"abcb44f0-6d74-427d-a313-8ebef7a72445","field_name":"cellar"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Aufzug</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"2b54efbb-1dbc-4bf7-8faf-b2ff92cb288a","field_name":"lift"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Garten</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"29320aa9-96cb-4e0d-9ce7-e93cb1ffb71f","field_name":"garden"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Loggia</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"19d2edd3-2247-4e36-b187-4bff3ecf1fc9","field_name":"loggia"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Klimaanlage</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"1dcc7438-b14a-4b03-9c7a-87a9782b0d88","field_name":"air_conditioning"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Sauna</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"44a77d88-bd53-4f35-8256-cc68a7bd90d1","field_name":"sauna"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Wintergarten</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"60945b95-6e2d-40a0-9e2a-c50320c5e11d","field_name":"winter_garden"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Schwimmbad / Pool</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"247a48f9-7855-4c8e-89c2-3d2abc69e59b","field_name":"swimming_pool"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Alarmanlage</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"a80078e3-32c6-44ad-ad54-03709d10a85b","field_name":"alarm_system"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Schornstein</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"9ef9fc86-8c80-443b-b32c-4fb931bc7ca3","field_name":"chimney"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                        <p>Sommerresidenz</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"86f924c7-f918-4151-9657-3898118a1452","field_name":"summer_residence_practical"} /--></div>
                    <!-- /wp:group --></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group"><!-- wp:paragraph -->
                        <p>Ausstattung Badezimmer</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"59b14cd9-0c74-4248-9112-0a76c2b648f1","field_name":"bathroom"} /--></div>
                    <!-- /wp:group -->

                    <!-- wp:group {"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group"><!-- wp:paragraph -->
                        <p>Bodenbelag</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:connector-for-propstack/field {"blockId":"4a526cbc-558b-4821-bc24-69b11138604b","field_name":"flooring_type"} /--></div>
                    <!-- /wp:group --></div>
                <!-- /wp:group --></div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"Energy"},"style":{"color":{"background":"#fafafa"},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group has-background" style="background-color:#fafafa;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading -->
                <h2 class="wp-block-heading">Bauzustand und Energieausweis</h2>
                <!-- /wp:heading -->

                <!-- wp:columns -->
                <div class="wp-block-columns"><!-- wp:column -->
                    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Baujahr:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"e6ebfebd-b726-48a4-8fbf-090159c6136d","field_name":"construction_year"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Wesentlicher Energieträger:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"229f4acf-bd00-4508-831a-df2b5fa16b0a","field_name":"firing_types"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Heizungsart:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"e77127a2-be61-4f8a-8be3-70746f89bfa6","field_name":"heating_type"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Letzte Modernisierung:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"26415bce-4154-462a-a574-f3b2e5fec470","field_name":"last_refurbishment"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Objektzustand:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"8859a628-f04d-4496-bab6-c62a6a7ebba8","field_name":"condition"} /--></div>
                        <!-- /wp:group --></div>
                    <!-- /wp:column -->

                    <!-- wp:column -->
                    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Energieausweis:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"7b79134e-a848-443f-b62d-9948b8d6a5e5","field_name":"energy_certificate_availability"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Erstellungsdatum:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"917979c1-2692-46cb-9c7d-d6259abbc849","field_name":"energy_certificate_creation_date"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Energieausweis gültig bis:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"6510b93c-9063-4fb8-85aa-f297208f1952","field_name":"energy_certificate_end_date"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Energieeffizienzklasse:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"72ae2f4e-e95b-49aa-a1a1-8f28773b8869","field_name":"energy_efficiency_class"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Art der Gebäudenergiebewertung:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"57b38551-85cf-4932-8e68-c77ef516a2a7","field_name":"building_energy_rating_type"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>CO₂-Emissionen:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"c56a886a-a97d-4d81-a75f-85bb5256bb76","field_name":"co2_emission"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
                            <p>Energieeffizienzwert:</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:connector-for-propstack/field {"blockId":"45c1c052-9ba4-46aa-bb1a-2a31d1bc359b","field_name":"energy_efficiency_value"} /--></div>
                        <!-- /wp:group --></div>
                    <!-- /wp:column --></div>
                <!-- /wp:columns --></div>
            <!-- /wp:group -->

            <!-- wp:group {"metadata":{"name":"Long descriptions"},"layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap"}} -->
            <div class="wp-block-group"><!-- wp:heading -->
                <h2 class="wp-block-heading">Ausführliche Beschreibung</h2>
                <!-- /wp:heading -->

                <!-- wp:connector-for-propstack/field {"blockId":"fdb65843-623d-4299-ab57-f4146423ac6c","field_name":"long_furnishing_note"} /-->

                <!-- wp:connector-for-propstack/field {"blockId":"1c1cc6b1-fe5d-46e6-b2ff-90e94e03392a","field_name":"long_description_note"} /-->

                <!-- wp:connector-for-propstack/field {"blockId":"b086669a-bb1c-4242-a776-138a30a340e7","field_name":"long_location_note"} /--></div>
            <!-- /wp:group -->

            <!-- wp:group {"style":{"color":{"background":"#fafafa"},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"fontSize":"medium","layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group has-background has-medium-font-size" style="background-color:#fafafa;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zum Flughafen:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"d51b55d7-d725-4a4f-b615-b7df52e4e309","field_name":"distance_to_airport"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zur nächsten Autobahn als Längenangabe</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"819ac211-ad72-4eef-aced-f15a57365b21","field_name":"distance_to_fm_length"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zur nächsten Autobahn in km:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"dfdd30d9-faea-4f95-a87a-0307cb454e23","field_name":"distance_to_fm_in_km"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zum Flughafen als Längenangabe:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"b54ec8a0-3a1d-4faf-9c3a-97e813edb594","field_name":"distance_to_airport_length"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zum nächsten Bahnhof:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"b4b37334-0481-49cc-8d06-ee5f9a5b806f","field_name":"distance_to_mrs"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zum nächsten Bahnhof in km:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"42c4fcc7-5acd-495c-b77e-f8b0db491c63","field_name":"distance_to_mrs_in_km"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zur nächsten Haltestelle:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"56c62a53-55b5-4e24-9dfb-cabc86a845f4","field_name":"distance_to_pt"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zur nächsten öffentlichen Verkehrsverbindung in km:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"e294390a-81af-48ad-9a44-8cef4e6e4e7d","field_name":"distance_to_pt"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zur öffentlichen Verkehrsanbindung als Länge:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"594cf835-cb91-44cc-b63e-71998cae1378","field_name":"distance_to_pt_length"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zur nächsten Autobahn:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"cd993dd4-8dd0-4cd5-b36d-04541dbf2b3c","field_name":"distance_to_fm"} /--></div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Entfernung zum Flughafen in km</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:connector-for-propstack/field {"blockId":"11972300-d730-447b-adaa-3fd791fc74f9","field_name":"distance_to_airport_in_km"} /--></div>
                <!-- /wp:group --></div>
            <!-- /wp:group --></div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"metadata":{"name":"Contact"},"className":"cfprop-sticky","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"backgroundColor":"accent-4","textColor":"base","layout":{"type":"constrained"}} -->
            <div class="wp-block-group cfprop-sticky has-base-color has-accent-4-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading -->
                <h2 class="wp-block-heading">Kontakt</h2>
                <!-- /wp:heading -->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                <div class="wp-block-group"><!-- wp:connector-for-propstack/broker-field {"blockId":"a46219f1-6de1-4429-9b70-d6a43b95c7bb","field_name":"thumbnail_id"} /-->

                    <!-- wp:group {"className":"cfprop-simple-hiding","layout":{"type":"flex","orientation":"vertical"}} -->
                    <div class="wp-block-group cfprop-simple-hiding"><!-- wp:connector-for-propstack/broker-field {"blockId":"068f89e1-81af-445e-8822-6f3799efcc1e","field_name":"name"} /-->

                        <!-- wp:connector-for-propstack/broker-field {"blockId":"c027352b-93d8-481c-a3e2-70d777f479a5","field_name":"position","fontSize":"medium"} /-->

                        <!-- wp:connector-for-propstack/broker-field {"blockId":"98049e91-c6a7-4d74-9b89-cb17677c5ad8","field_name":"public_email","fontSize":"medium"} /-->

                        <!-- wp:connector-for-propstack/broker-field {"blockId":"c75c2fc4-1e97-4524-82ff-6ff1836047d3","field_name":"public_phone","fontSize":"medium"} /--></div>
                    <!-- /wp:group --></div>
                <!-- /wp:group -->

                <!-- wp:buttons -->
                <div class="wp-block-buttons"><!-- wp:button {"width":100} -->
                    <div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link wp-element-button">Anfrage senden</a></div>
                    <!-- /wp:button --></div>
                <!-- /wp:buttons --></div>
            <!-- /wp:group --></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns -->

    <!-- wp:connector-for-propstack/gallery {"blockId":"d94538f6-9eb9-42bb-a4cf-d103b458c583"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentyfive","tagName":"footer"} /-->
