<!-- wp:group {"metadata":{"name":"Energieausweis"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
    <h2 class="wp-block-heading">Energieausweis</h2>
    <!-- /wp:heading -->

    <!-- wp:columns {"verticalAlignment":"top"} -->
    <div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
        <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%"><!-- wp:paragraph -->
            <p><strong>Ausstellungsdatum</strong></p>
            <!-- /wp:paragraph --></div>
        <!-- /wp:column -->

        <!-- wp:column {"verticalAlignment":"top","width":"66.66%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}}} -->
        <div class="wp-block-column is-vertically-aligned-top" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:66.66%"><!-- wp:propstack-connector/field {"blockId":"e4074ff1-6db7-4ec0-a8cf-3c2783d31ff0","field_name":"energy_certificate_creation_date","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /--></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns -->

    <!-- wp:columns {"verticalAlignment":"top"} -->
    <div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
        <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%"><!-- wp:paragraph -->
            <p><strong>Gültig bis</strong></p>
            <!-- /wp:paragraph --></div>
        <!-- /wp:column -->

        <!-- wp:column {"verticalAlignment":"top","width":"66.66%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}}} -->
        <div class="wp-block-column is-vertically-aligned-top" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:66.66%"><!-- wp:propstack-connector/field {"blockId":"049b2482-33dc-4ac3-aca9-ad37785ed0e0","field_name":"energy_certificate_end_date","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /--></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns -->

    <!-- wp:columns {"verticalAlignment":"top"} -->
    <div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
        <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%"><!-- wp:paragraph -->
            <p><strong>Baujahr</strong></p>
            <!-- /wp:paragraph --></div>
        <!-- /wp:column -->

        <!-- wp:column {"verticalAlignment":"top","width":"66.66%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}}} -->
        <div class="wp-block-column is-vertically-aligned-top" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:66.66%"><!-- wp:propstack-connector/field {"blockId":"44249ff8-203b-4de6-9315-9bcd8efb3033","field_name":"construction_year","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /--></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns -->

    <!-- wp:columns {"verticalAlignment":"top"} -->
    <div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
        <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%"><!-- wp:paragraph -->
            <p><strong>Wesentlicher Energieträger</strong></p>
            <!-- /wp:paragraph --></div>
        <!-- /wp:column -->

        <!-- wp:column {"verticalAlignment":"top","width":"66.66%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}}} -->
        <div class="wp-block-column is-vertically-aligned-top" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:66.66%"><!-- wp:propstack-connector/field {"blockId":"5c2d9b0f-83f2-47ea-8de4-6a181d7328e7","field_name":"building_energy_rating_type","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /--></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
<!-- /wp:group -->
