<!-- wp:group {"metadata":{"name":"Objektbeschreibung"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading"><?php echo esc_html__( 'Object descriptions', 'propstack-connector' ); ?></h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><?php echo esc_html__( 'Description', 'propstack-connector' ); ?></h3>
    <!-- /wp:heading -->

    <!-- wp:propstack-connector/description /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><?php echo esc_html__( 'Furnishing', 'propstack-connector' ); ?></h3>
    <!-- /wp:heading -->

    <!-- wp:propstack-connector/description {"description_type":"furnishing_note"} /--></div>
</div>
<!-- /wp:group -->
